body{ margin:0; background-color: #f1f1f1; }
#main-wrapper{ display: table;}

#header{ background-color: #252525; height: 85px; padding: 5px; }
#content { display: table; width: 100%}
#logo{ font-family: helvetica; font-size: 62px; color: #999999; }

#wrap_login { font-family: tahoma; font-size: 12px; color: #666666; width: 250px; height:300px; margin: auto; }
#wrap_login input[type="text"], #wrap_login input[type="password"]  { 
	border: none; width: 200px; height: 27px; background-position: 185px 7px; background-color: #f1f1f1; box-shadow:#EBEBEB 0 0 0 2px;
	color: #999999; background-color:#FBFBFB; background-image:url('http://themes.kopyov.com/aquincum/images/icons/loginEmail.png'); background-repeat:no-repeat no-repeat; 
	padding-right: 20px; padding-left: 15px;}
#wrap_login input[type="password"] { background-color:#FBFBFB; background-image:url('http://themes.kopyov.com/aquincum/images/icons/loginLock.png'); background-repeat:no-repeat no-repeat;}
#wrap_login input{margin: 10px;}
#wrap_login div.error{ color: #FF0000; }
#wrap_login div.body{ margin:auto; margin-top:50px; }
#wrap_login label {font-family: "tahoma"; font-size: 12px; }
.loginPassword { background-color:#FBFBFB; background-image:url('http://themes.kopyov.com/aquincum/images/icons/loginLock.png'); background-repeat:no-repeat no-repeat; }

#sidebar{ width: 327px; background-color: #d1d1d1; height: 100%; float: left; display: table}
#mainbar{ width: 100px; background-color: #a62F00; height: 100%; float: left; } /*#FF8500*/
#mainbar ul {
  margin: 0;
  border-bottom-color:#555555;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-top-color:#2E2E2E;
  border-top-style:solid;
  border-top-width:1px;
  margin-top:10px;
  text-align:center;
  list-style:none;
  margin:0;
  padding:0;}
  
#mainbar li a{
  /*background-image:-webkit-linear-gradient(top, rgba(86, 86, 86, 0.199219) 0%, rgba(54, 54, 54, 0.199219) 100%);*/
  background-position:initial initial;
  background-repeat:initial initial;
  color:#2E2E2E;
  display:block;
  font-size:11px;
  padding:14px 0 8px;
  width:100px;
  filter: alpha(opacity=50); -webkit-transition: opacity 0.3s ease-in-out; -moz-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out;
}
#mainbar li a:hover{color: #f4f4f4; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
	
#mainbar li {
  border-bottom-color:#3d1000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-top-color:#ff622d;
  border-top-style:solid;
  border-top-width:1px;
  position:relative;
  height: 64px;
}
#mainbar li span{
	color: #fafafa /*A63800*/;
	font-family: 'Capriola';
	font-size: 12px;
	padding: 5px;
	text-shadow:#303030 0 1px 0;
}

#secBar{ width: 225px; background-color: #d1d1d1; height: 100%; float: left;
	border: 1px solid #aaaaaa;
  margin-top:10px;
  text-align:center;
  list-style:none;
  margin:0;
  padding:0;}

#footer{ background-color: #252525; display: block}
#main{ float: left; border-top: 1px solid #999999;}

ul.button, ul.tabbed { 
	list-style:none;
  	margin:0;
  	padding:0;}
  
ul{	font-family: 'Capriola';
	font-size: 12px;
	text-align: left;
}

ul.tabbed{
  border-top-color:#C3C3C3;
  border-top-style:solid;
  border-top-width:1px;
  font-size:11px;
  height:28px;
}
ul.tabbed li a{
  border-left-color:#C3C3C3;
  border-left-style:solid;
  border-left-width:1px; 
}
ul.tabbed li{ 
  background-image:url(http://themes.kopyov.com/aquincum/images/backgrounds/breadcrumbs.png);
  background-position:initial initial;
  background-repeat:repeat no-repeat;
  border-bottom-color:#C3C3C3;
  border-bottom-style:solid;
  border-bottom-width:1px;
  box-shadow:#F6F6F6 0 1px 0px, #FFFFFF 0 1px 0 inset;
  display:block;
  float:left;
  height:28px;
  text-align:center;
  width:75px;
}

.divider {
  border-bottom-color:#F5F5F5;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-top-color:#CDCDCD;
  border-top-style:solid;
  border-top-width:1px;
  height:0;
  margin:20px 0;
  position:relative;
}
ul.button li a{
	background-image:-webkit-linear-gradient(top, #F7F7F7 0%, #E6E6E6 100%);
	background-position:initial initial;
	background-repeat:initial initial;
	border-bottom-color:#CECECE;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-color:#FDFDFD;
	border-top-style:solid;
	border-top-width:1px;
	color:#6A6A6A;
	display:block;
	padding:8px 14px;
	text-decoration: none;
}
ul.button li a:hover{ 	color:#ff622d;}

ul.button.ativo {
  border-left-color:#ff622d;
  border-left-style:solid;
  border-left-width:4px;
}

.icon-receita{
	background: url('css/main-theme/images/ui-icons_3d3d3d_256x240.png') 48px 48px ;
	background-position:initial initial;
  	background-repeat:initial initial; 
	width:16px;
	height:16px;
	padding-left:0px;
	margin:0;
	display: block;
}
.icon-pessoa{
	background: url('css/main-theme/images/ui-icons_3d3d3d_256x240.png') 80px 48px ;
	background-position:initial initial;
  	background-repeat:initial initial; 
	width:16px;
	height:16px;
	padding-left:0px;
	margin:0;
	display: block;
}
.icon-filtro{
	background: url('css/main-theme/images/ui-icons_3d3d3d_256x240.png') 96px 48px ;
	background-position:initial initial;
  	background-repeat:initial initial; 
	width:16px;
	height:16px;
	padding-left:0px;
	margin:0;
	display: block;
}
